{% extends 'gym/base.html' %}

{% block titulo %} Planes {% endblock %}

{% block welcome %} <h3 style="color: orangered">Planes</h3> {% endblock %}


{% block contenido %}
<br>
<center>   
<p>Resultado de búsqueda para: {{query}}</p>

{% if planes %}
            
    {% for plan in planes %}
    <p><strong>Plan {{plan.nombre}}</strong> - {{plan.cantidad_clases}} clases - Precio: ${{plan.precio}}</p>
    {%endfor%}
    
{% else %}
    
    <p><strong>No indicaste un nombre de plan válido</strong></p>

{% endif %}

<a href="{% url 'Planes' %}">Volver</a>
</center>

{% endblock contenido %}