{% extends 'gym/base.html' %}


{% block titulo %} Actividades {% endblock %}

{% block welcome %} <h3 style="color: orangered">Actividades</h3> {% endblock %}

{% block contenido %}
<br>
<center>   
<p>Resultado de búsqueda para: {{query}}</p>

{% if actividades %}
      
    {% for actividad in actividades %}
        <p><strong>{{actividad.nombre}}</strong> - {{actividad.dia}} - {{actividad.horario}} hs</p>
    {%endfor%}

{% else %}
    
    <p><strong>No indicaste un nombre de actividad válido</strong></p>

{% endif %}
    
<a href="{% url 'Actividades' %}">Volver</a>
</center>

{% endblock contenido %}